@import url('./main-layout.css');
@import url('@fontsource/cairo/index.css');

html {
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 3rem;
      --lumo-font-size-xxl: 2.25rem;
      --lumo-font-size-xl: 1.75rem;
      --lumo-font-size-l: 1.375rem;
      --lumo-font-size-m: 1.125rem;
      --lumo-font-size-s: 1rem;
      --lumo-font-size-xs: 0.875rem;
      --lumo-font-size-xxs: 0.8125rem;
      --lumo-shade: rgb(99, 66, 39);
      --lumo-shade-5pct: rgba(99, 66, 39, 0.04);
      --lumo-shade-10pct: rgba(245, 245, 150, 0.1);
      --lumo-shade-20pct: rgba(245, 245, 150, 0.2);
      --lumo-shade-30pct: rgba(245, 245, 150, 0.3);
      --lumo-shade-40pct: rgba(245, 245, 150, 0.4);
      --lumo-shade-50pct: rgba(245, 245, 150, 0.5);
      --lumo-shade-60pct: rgba(245, 245, 150, 0.8);
      --lumo-shade-70pct: rgba(99, 66, 39, 1);
      --lumo-shade-80pct: rgba(245, 245, 150, 0.8);
      --lumo-shade-90pct: rgba(245, 245, 150, 0.8);
      --lumo-body-text-color: rgb(99, 66, 39);
      --lumo-base-color: rgb(173, 216, 230);
      --lumo-primary-color: rgb(245, 245, 150, 0.8);
      --lumo-primary-color-50pct: rgba(0, 0, 0, 0.5);
      --lumo-primary-color-10pct: rgba(0, 0, 0, 0.1);
      --lumo-primary-text-color: rgb(0, 0, 0);
      --lumo-font-family: Cairo;
}

.model-description {
      color: rgb(255, 255, 150); /* Colore giallo attuale */
      text-shadow: 1px 1px 2px #000000; /* Aggiunta ombra nera */
      -webkit-text-stroke: 0.5px #000000; /* Aggiunta bordo nero */
}

.custom-combobox {
      --vaadin-combo-box-overlay: {
            --vaadin-item: {
                  cursor: pointer;
            };
      };
      cursor: pointer;
}

.custom-combobox::part(menu-item) {
      cursor: pointer;
}
